*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sense{
    font-family: "open sense", sans-serif;
    font-optical-sizing: auto;
}
header{
    background-color: white;
    padding-top: 16px 16px;
}
.nav{
    width: 1600px;
    height: 92px;
}